html{
    scroll-behavior:smooth;
}
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
body{
    font-family:Arial,sans-serif;
    color:#172033;
    background-color:#f7f5f0;
    line-height: 1.6;
}
nav{
    position:sticky;
    top:0;
    z-index:1000;
    height:78px;
    display:flex;
    align-items:center;
    justify-content:flex-end;
    gap:42px;
    padding:0 8%;
    background:#071426;
    color:white;
    border-bottom:1px solid rgba(212,175,55,0.35);
    box-shadow:0 5px 25px rgba(0,0,0,0.18);

}
nav::before{
    content:"NEXORA";
    margin-right:auto;
    font-size:25px;
    font-weight:800;
    letter-spacing:4px;
    color:#d4af37;
}
a{
    position:relative;
    color:#f5f2e8;
    text-decoration:none;
    font-size:15px;
    font-weight:600;
    letter-spacing:0.5px;
    transition:0.3s;
}

nav a::after{
    content:"";
    position:absolute;
    left:0;
    bottom:-8px;
    width:0;
    height:2px;
    background:#d4af37;
    transition:0.3s;
}
nav a:hover{
    color:#d4af37;
}
nav a:hover::after {
    width: 100%;
}

#home{
    position:relative;
    min-height:calc(100vh - 78px);
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:flex-start;
    padding:90px 10%;
    overflow:hidden;
    color:white;
    background-image:
    linear-gradient(90deg ,
    rgba(5, 17, 34, 0.94) 0%,
    rgba(5, 17, 34, 0.78) 45%,
    rgba(5, 17, 34, 0.30) 100%),
    url("https://images.pexels.com/photos/5444180/pexels-photo-5444180.jpeg?auto=compress&cs=tinysrgb&w=1600");
    
    background-size:cover;
    background-position:center;
}
#home::before{
    content:"";
    position:absolute;
    width:380px;
    height:380px;
    right:-120px;
    top:-100px;
    border:1px solid rgba(212, 175, 55, 0.45);
    border-radius:50%; 
}
#home::after{
    content:"";
    position:absolute;
    width:180px;
    height:180px;
    right:130px;
    bottom:-100px;
    border:1px solid rgba(212, 175, 55, 0.3);
    border-radius:50%;

}
#home h1{
    position:relative;
    z-index:2;
    font-size:clamp(70px,9vw,125px);
    line-height:0.95;
    font-weight:900;
    letter-spacing:7px;
    color:#ffffff;
    text-transform:uppercase;
    margin-bottom:22px;
    text-shadow:0 8px 30px rgba(0,0,0,0.35);

}
#home h1::first-letter{
    color:#d4af37;
}
#home h2{
    position: relative;
    z-index:2;
    max-width:650px;
    font-size:clamp(27px,4vw,48px);
    line-height: 1.15;
    font-weight: 700;
    color: #d4af37;
    margin-bottom: 22px;
}
